[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [{name = "{{ author_name }}", email = "{{ author_mail }}"}]
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[project.scripts]
{{ repository_name }} = "{{ module_name }}:main"

[dependency-groups]
dev = [
    "black>=25.1.0",
    "isort>=6.0.1",
    "pre-commit>=4.1.0",
    "pytest>=8.3.4",
    "ruff>=0.9.9",
]

[tool.black]
line-length = 79

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
testpaths = ["tests"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
