# {{ project_name }}

{{ project_description }}

### Usage
Initialize your project with the devsetup script. This will setup the dev dependencies with uv, git and pre-commit:
```bash
cd /path/to/your/new/project
sh scripts/devsetup.sh
```

...
